.public__header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
}
.compant-logo {
  width: 60px;
  height: 46px;
}
.hand-logo {
  width: 64px;
  height: 64px;
}
