@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;

  /*COLORS*/

  --color-primary: #7315be;
  --color-purple-ligth: #9b4bf8;
  --color-white: #ffffff;
  --color-black: #1d221a;
  --color-grey-ligth: #f5f5f5;
  --color-badge: #efe8ee;
  --color-letter-black: #343434;
  --color-letter-black-ligth: #434343;

  --color-gradient: transparent linear-gradient(179deg, #650faa 0%, #9558c4 100%) 0% 0% no-repeat padding-box;
}
