.size-list {
  display: flex;
  flex-direction: row;
  margin-top: 12px;

  .size-list__item {
    display: flex;
    width: 32px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-black);
    font-weight: 600;
  }

  .size-list__item.seleted {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: inset 0px 3px 6px #00000029;
    font-weight: 800;
  }
}
