.check-input__container {
  display: flex;
  height: 17px;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: var(--color-primary);
  font-weight: 500;
  cursor: pointer;

  .check-input__check {
    opacity: 0.5;
    accent-color: var(--color-primary);
    margin-right: 4px;
    cursor: pointer;
  }

  .check-input__check:checked {
    opacity: 1;
  }
}
